<!-- <div id="loading-area"></div> -->
<div class="page-wraper">
    <!-- header -->
    <header class="site-header mo-left header fullwidth">
        <!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
                        <a href="/"><img src="./assets/images/logo.png" class="logo" alt=""></a>
                    </div>
                    <!-- nav toggle button -->
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                        data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- Navbar  -->
                    <app-navbar></app-navbar>
                    <!-- Navbar ends -->
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->