<app-header></app-header>
<app-banner></app-banner>
<!-- contact area -->
<div class="section-full content-inner browse-job shop-account">
    <!-- Product -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-b30 mx-auto">
                <div class="p-a30 job-bx radius-sm bg-white m-auto">
                    <div class="">
                        <form id="recruiterRegisterForm" class="col-12 p-a0" [formGroup]="jobSeekerRegisterForm">
                            <h2 class="font-weight-700 m-b5">
                                Sign up as Job Seeker
                            </h2>

                            <div class="form-group">
                                <label class="font-weight-700">E-MAIL *</label>
                                <input name="emailId" required="" class="form-control" placeholder="Your Email Address"
                                    type="email" formControlName="userName">
                                    <mat-error>
                                        <span *ngIf="!jobSeekerRegisterForm.get('userName').valid && jobSeekerRegisterForm.get('userName').touched">Please Enter a correct Email address</span>
                                      </mat-error>
                                    <!-- <div *ngIf="!jobSeekerRegisterForm.controls.userName.valid && jobSeekerRegisterForm.controls.userName.touched" class="invalid-feedback">
                                        <div *ngIf="jobSeekerRegisterForm.controls.userName.errors.required">Email Id  is required</div>
                                    </div> -->
                            </div>
                            <div class="form-group">
                                <label class="font-weight-700">Mobile Number</label>
                                <input name="mobileNumber" required="" class="form-control"
                                    placeholder="Your Mobile Number" type="text" formControlName="mobileNo">
                                    <!-- <mat-error>
                                        <span *ngIf="!jobSeekerRegisterForm.get('mobileNo').valid && jobSeekerRegisterForm.get('mobileNo').touched">Mobile Number is required</span>
                                      </mat-error> -->
                                    <!-- <div *ngIf="!jobSeekerRegisterForm.controls.mobileNo.valid && jobSeekerRegisterForm.controls.mobileNo.touched" class="invalid-feedback">
                                        <div *ngIf="jobSeekerRegisterForm.controls.mobileNo.errors.required">Mobile Number is required</div>
                                    </div> -->
                            </div>
                            <div class="form-group">
                                <label class="font-weight-700">Set Password *</label>
                                <input name="setPassword" required="" class="form-control " placeholder="Enter Password"
                                    type="password" formControlName="password">
                                    <mat-error>
                                        <span *ngIf="!jobSeekerRegisterForm.get('password').valid && jobSeekerRegisterForm.get('password').touched">Password is required</span>
                                      </mat-error>
                                    <!-- <div *ngIf="!jobSeekerRegisterForm.controls.password.valid && jobSeekerRegisterForm.controls.password.touched" class="invalid-feedback">
                                        <div *ngIf="jobSeekerRegisterForm.controls.password.errors.required">Password is required</div>
                                    </div> -->
                            </div>
                            <div class="form-group">
                                <label class="font-weight-700">Confirm Password *</label>
                                <input name="confirmPassword" required="" class="form-control "
                                    placeholder="Confirm Password" type="password" formControlName="confirmPassword">
                                    <mat-error>
                                        <!-- <span *ngIf="!jobSeekerRegisterForm.get('confirmPassword').valid && jobSeekerRegisterForm.get('confirmPassword').touched">Confirm Password is required</span> -->
                                        &nbsp; <span *ngIf="!checkConfirmPassAndPassAreEqual()">Confirm Password and Password are not matching</span>
                                    </mat-error>
                            </div>
                            <div class="form-group">
                                <label for="">
                                    Send OTP to above email
                                </label>
                                <button class="site-button button-sm float-right" (click)="sendOtp()">Send OTP</button>

                            </div>
                            <div class="form-group">
                                <label class="font-weight-700">OTP *</label>
                                <input name="otp" required="" class="form-control " placeholder="Enter OTP"
                                    type="password" formControlName="otp">
                                    <mat-error>
                                        <span *ngIf="!jobSeekerRegisterForm.get('otp').valid && jobSeekerRegisterForm.get('otp').touched">OTP is required</span>
                                      </mat-error>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="privacyPolicies" checked
                                        formControlName="privacyPolicies">
                                    <label class="custom-control-label" for="privacyPolicies">By Registering,
                                        you agree to our <a href="" target="_blank">Privacy Policy</a></label>
                                </div>
                            </div>
                            <div class="text-left">
                                <button class="site-button button-lg outline outline-2" (click)="onSubmit()">Sign Up as Job Seeker</button>
                                <a href="/jobseeker-login" class="m-l5 m-t15 forget-pass float-right">
                                    <i class="fa fa-sign-in"></i> Login Now.
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product END -->
</div>
<!-- contact area  END -->
<app-footer></app-footer>