<app-banner></app-banner>
<div id="wrapper" class="container my-4">
	<div class="messaging">
		<div class="inbox_msg">
			<!-- Chat users list start-->
			<div class="inbox_people">
				<div class="headind_srch">
					<div class="recent_heading">
						<h4>Recent</h4>
					</div>
					<div class="srch_bar">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span
									class="input-group-text"
									id="basic-addon1"
								>
									<i class="fa fa-search"></i>
								</span>
							</div>
							<input
								type="text"
								class="form-control"
								placeholder="Username"
								aria-label="Username"
								aria-describedby="basic-addon1"
							/>
						</div>
					</div>
				</div>
				<div class="inbox_chat">
					<div class="chat_list active_chat">
						<div class="chat_people">
							<div class="chat_img">
								<img
									src="https://ptetutorials.com/images/user-profile.png"
									alt="sunil"
								/>
							</div>
							<div class="chat_ib">
								<h5>
									Xyz
									<span class="chat_date">Dec 25</span>
								</h5>
								<p>
									Test, which is a new approach to have all
									solutions astrology under one roof.
								</p>
							</div>
						</div>
					</div>
					<div class="chat_list">
						<div class="chat_people">
							<div class="chat_img">
								<img
									src="https://ptetutorials.com/images/user-profile.png"
									alt="sunil"
								/>
							</div>
							<div class="chat_ib">
								<h5>
									ABC
									<span class="chat_date">Dec 25</span>
								</h5>
								<p>
									Test, which is a new approach to have all
									solutions astrology under one roof.
								</p>
							</div>
						</div>
					</div>
					<div class="chat_list">
						<div class="chat_people">
							<div class="chat_img">
								<img
									src="https://ptetutorials.com/images/user-profile.png"
									alt="sunil"
								/>
							</div>
							<div class="chat_ib">
								<h5>
									EFX
									<span class="chat_date">Dec 25</span>
								</h5>
								<p>
									Test, which is a new approach to have all
									solutions astrology under one roof.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Chat users list end-->
			<!-- Chatting history start-->
			<div class="card">
				<div class="card-header">
					<h3 class="mb-0 text-bold">Xyz</h3>
					<!-- active chat user -->
				</div>
				<div class="card-body">
					<div class="mesgs">
						<div class="msg_history">
							<div class="incoming_msg">
								<div class="incoming_msg_img">
									<img
										src="https://ptetutorials.com/images/user-profile.png"
										alt="sunil"
									/>
								</div>
								<div class="received_msg">
									<div class="received_withd_msg">
										<p>
											Test which is a new approach to have
											all solutions
										</p>
										<span class="time_date">
											11:01 AM | June 9</span
										>
									</div>
								</div>
							</div>
							<div class="outgoing_msg">
								<div class="sent_msg">
									<p>
										Test which is a new approach to have all
										solutions
									</p>
									<span class="time_date">
										11:01 AM | June 9</span
									>
								</div>
							</div>
							<div class="incoming_msg">
								<div class="incoming_msg_img">
									<img
										src="https://ptetutorials.com/images/user-profile.png"
										alt="sunil"
									/>
								</div>
								<div class="received_msg">
									<div class="received_withd_msg">
										<p>
											Test which is a new approach to have
											all solutions
										</p>
										<span class="time_date">
											11:01 AM | June 9</span
										>
									</div>
								</div>
							</div>
							<div class="outgoing_msg">
								<div class="sent_msg">
									<p>
										Test which is a new approach to have all
										solutions
									</p>
									<span class="time_date">
										11:01 AM | June 9</span
									>
								</div>
							</div>
							<div class="incoming_msg">
								<div class="incoming_msg_img">
									<img
										src="https://ptetutorials.com/images/user-profile.png"
										alt="sunil"
									/>
								</div>
								<div class="received_msg">
									<div class="received_withd_msg">
										<p>
											Test which is a new approach to have
											all solutions
										</p>
										<span class="time_date">
											11:01 AM | June 9</span
										>
									</div>
								</div>
							</div>
							<div class="outgoing_msg">
								<div class="sent_msg">
									<p>
										Test which is a new approach to have all
										solutions
									</p>
									<span class="time_date">
										11:01 AM | June 9</span
									>
								</div>
							</div>
							<div class="incoming_msg">
								<div class="incoming_msg_img">
									<img
										src="https://ptetutorials.com/images/user-profile.png"
										alt="sunil"
									/>
								</div>
								<div class="received_msg">
									<div class="received_withd_msg">
										<p>
											Test which is a new approach to have
											all solutions
										</p>
										<span class="time_date">
											11:01 AM | June 9</span
										>
									</div>
								</div>
							</div>
							<div class="outgoing_msg">
								<div class="sent_msg">
									<p>
										Test which is a new approach to have all
										solutions
									</p>
									<span class="time_date">
										11:01 AM | June 9</span
									>
								</div>
							</div>
						</div>
						<div class="input-group">
							<textarea
								class="form-control"
								aria-label="With textarea"
								placeholder="Type a message"
							></textarea>
							<div class="input-group-append">
								<span
									class="input-group-text btn btn-outline-primary"
								>
									<i class="fa fa-paper-plane-o"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Chatting history end-->
		</div>
	</div>
</div>
