.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
h5
{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  font-weight: 500;
}

.profile-pic{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c5aa;
  color: black;
  margin: 5px;
  margin-left: 2%;
  margin-bottom: 20px;
}

.profile-pic img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}


.profile-pic:hover .edit {
	display: block;
}

.edit {
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	/* right: 0; */
  bottom: 20%;
  display: none;
  left: 9%;
}

.edit a {
	color: #000;
}

.multiselect-dropdown .dropdown-list{
 bottom: 100%;
}