
.criteria{
    height: 50px;
}

.btn{
    font-size: 0.7rem;
}

.dropdown-menu{
    font-size: 0.7rem;
}

.sort-label{
    font-size: 1.1rem;
}

.mat-paginator-container::ng-deep{
    justify-content: flex-start;
}