.job-bx-title .btn-group.bootstrap-select{
    float: left;
}

.criteria{
    height: 50px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    margin: 2px;
}