<!-- <app-banner></app-banner> -->
<!-- Filters Search -->
<div class="section-full browse-job-find">
	<div class="container">
		<div class="find-job-bx">
		</div>
	</div>
</div>
<!-- Filters Search END -->
<div class="content-block my-3">
	<div class="section-full browse-job p-b50">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="job-bx-title clearfix">
						<div class="criteria text-right">
							<label for="sort" class="sort-label pt-2">Sort by:</label>

							<div class="dropdown text-secondary d-inline m-1">
								<button class="btn border text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Functional Area
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								  <a class="dropdown-item" href="#">Web Designing</a>
								  <a class="dropdown-item" href="#">React</a>
								  <a class="dropdown-item" href="#">Java</a>
								  <a class="dropdown-item" href="#">PHP</a>
								  <a class="dropdown-item" href="#">Angular</a>
								</div>
							  </div>

							  <div class="dropdown d-inline m-1">
								<button class="btn border text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Experience
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Fresher</a>
									<a class="dropdown-item" href="#">Less than 1 Year</a>
									<a class="dropdown-item" href="#">1+ Year</a>
									<a class="dropdown-item" href="#">2+ Year</a>
									<a class="dropdown-item" href="#">3+ Year</a>
								</div>
							  </div>

							  <div class="dropdown d-inline m-1">
								<button class="btn border text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Expected Salary
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">10k</a>
									<a class="dropdown-item" href="#">10-50k</a>
									<a class="dropdown-item" href="#">50k-1L</a>
									<a class="dropdown-item" href="#">1+ L</a>
								</div>
							  </div>
							  <div class="dropdown d-inline m-1">
								<button class="btn border text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Qualification
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">Diploma</a>
									<a class="dropdown-item" href="#">Graduate</a>
									<a class="dropdown-item" href="#">Post Graduate</a>
								</div>
							  </div>
							  <div class="dropdown d-inline m-1">
								<button class="btn border text-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Course
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#">B.Tech.</a>
									<a class="dropdown-item" href="#">B.C.A.</a>
									<a class="dropdown-item" href="#">M.Tech.</a>
									<a class="dropdown-item" href="#">M.C.A.</a>
								</div>
							  </div>
						</div>
					</div>
					<ul class="post-job-bx">
						<li *ngFor="let job of jobs">
							<div class="post-bx">
								<div class="d-flex m-b30">
									<div class="job-post-company">
										<a href="javascript:void(0);">
											<span>
												<img alt="" src="./assets/images/logo/icon1.png" /> </span></a>
									</div>
									<div class="job-post-info">
										<h4>
											<a href="">{{ job.jobRole }}</a>
										</h4>
										<ul>
											<li>
												<i class="fa fa-map-marker"></i>
												{{ job.jobLocation }}
											</li>
											<li>
												<i class="fa fa-bookmark-o"></i>
												Full Time
											</li>
											<li>
												<i class="fa fa-clock-o"></i>
												Published 1 months ago
											</li>
										</ul>
										<p class="my-2">
											<i class="fa fa-graduation-cap"></i>
											{{ job.functionalArea }} - {{ job.college }}
											- {{ job.degree }} - {{ job.department }}
										</p>
										<p class="my-2">
											<i class="fa fa-lock"></i>
											{{ job.experience }} | {{ job.expected_salary }} | {{ job.jobLocation }}
											India
										</p>
										<p class="my-2">
											<i class="fa fa-tag"></i>&nbsp;
											<span *ngFor=" let skill of job.jobSkills">{{skill}}</span>
											<!-- #Product Management # Hooked #
											User-Centric # Mobile Internet -->
										</p>
									</div>
								</div>
								<div class="d-flex">
									<div class="job-time mr-auto">
										<a href="dashboard/chat-home" (click)="goToLink(job.videoUrl)"
											class="mr-1"><span>Job Description</span></a>
										<a href="javascript:void(0);" class="ml-1"><span>Send Message</span></a>
									</div>
									<div class="salary-bx">
										<span>{{ job.expected_salary }}</span>
									</div>
								</div>
								<label class="like-btn">
									<input type="checkbox" />
									<span class="checkmark"></span>
								</label>
							</div>
						</li>
					</ul>
					<div class="pagination-bx m-t30">
						<!-- <ul class="pagination">
							<li class="previous">
								<a href="javascript:void(0);"><i class="ti-arrow-left"></i> Prev</a>
							</li>
							<li *ngFor="let pageNumber of noOfPages">
								<a href="changePage(pageNumber)">{{pageNumber}}</a>
							</li>
							<li class="next">
								<a href="javascript:void(0);">Next <i class="ti-arrow-right"></i></a>
							</li>

							
						</ul> -->
						<ul class="pagination">
							<mat-paginator  
								[length]="length"
								[pageIndex]="pageIndex"
								[pageSize]="pageSize" 
								(page)="pageEvent = getJobsData($event)">
							</mat-paginator>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Our Latest Blog -->
<div *ngIf="isLoggedIn()">
	<app-chat-client></app-chat-client>
</div>

<macrax-modal id="chat-home-failed-rest-call">
	<div class="modal-content text-center">
		<!--Header-->
		<div class="modal-header d-flex justify-content-center">
			<p class="heading">Something went wrong</p>
		</div>
		<!--Body-->
		<div class="modal-body">
			<i class="fa fa-exclamation-triangle fa-4x animated rotateIn mb-4"></i>
			<p>Please contact your administrator</p>
		</div>

		<!--Footer-->
		<div class="modal-footer justify-content-center">
			<a type="button" class="btn btn-primary waves-effect waves-light"
				(click)="closeModal('chat-home-failed-rest-call');">Ok</a>
		</div>
	</div>
</macrax-modal>