<!-- extra nav -->
<!-- <div class="extra-nav">
    <div class="extra-cell">
        <a href="/jobseeker-signup" class="site-button"><i class="fa fa-user"></i> Job Seeker</a>
        <a href="/recruiter-signup" class="site-button"><i class="fa fa-lock"></i> Recruiter </a>
    </div>
</div> -->
<!-- main nav -->
<div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
    <ul class="nav navbar-nav ml-auto">
        <li class="">
            <a href="/jobseeker-signup" class="site-button" style="color:white"><i class="fa fa-user"></i> Job
                Seeker</a>
        </li>
        <li class="">
            <a href="/recruiter-signup" class="site-button" style="color:white"><i class="fa fa-lock"></i> Recruiter
            </a>
        </li>
    </ul>
</div>